<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    
    <!-- Topbar End -->


    <!-- Navbar Start -->
     
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Testimonial</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                 
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">Fashion</h6>
                <h1 class="display-6 mb-4">Checkout</h1>
            </div>
             
            <head>
                <title>Flipkart - India's fashion capital!</title>
                <!-- for-mobile-apps -->
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
                Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
                <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
                        function hideURLbar(){ window.scrollTo(0,1); } </script>
                <!-- //for-mobile-apps -->
                <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
                <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
                <link href="../static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
                <!-- js -->
                <script src="../static/js/jquery.min.js"></script>
                <!-- //js -->
                <!-- cart -->
                <script src="../static/js/simpleCart.min.js"></script>
                <!-- cart -->
                <!-- for bootstrap working -->
                <script type="text/javascript" src="../static/js/bootstrap-3.1.1.min.js"></script>
                <!-- //for bootstrap working -->
                <!-- start-smooth-scrolling -->
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $(".scroll").click(function(event){		
                            event.preventDefault();
                            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                        });
                    });
                </script>
                <!-- //end-smooth-scrolling -->
                </head>
                    
                <body>
                <!-- header -->
                    <div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;</button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Don't Wait, Login now!</h4>
                                </div>
                                <div class="modal-body modal-body-sub">
                                    <div class="row">
                                        <div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
                                            <div class="sap_tabs">	
                                                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                                    <ul>
                                                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sign in</span></li>
                                                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Sign up</span></li>
                                                    </ul>		
                                                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                                        <div class="facts">
                                                            <div class="register">
                                                                <form action="#" method="post">			
                                                                    <input name="Email" placeholder="Email Address" type="text" required="">						
                                                                    <input name="Password" placeholder="Password" type="password" required="">										
                                                                    <div class="sign-up">
                                                                        <input type="submit" value="Sign in"/>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div> 
                                                    </div>	
                
                                                    <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                                                        <div class="facts">
                                                            <div class="register">
                                                                <form action="#" method="post">			
                                                                    <input placeholder="Name" name="Name" type="text" required="">
                                                                    <input placeholder="Email Address" name="Email" type="email" required="">	
                                                                    <input placeholder="Password" name="Password" type="password" required="">	
                                                                    <input placeholder="Confirm Password" name="Password" type="password" required="">
                                                                    <div class="sign-up">
                                                                        <input type="submit" value="Create Account"/>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div> 			        					            	      
                                                </div>	
                                            </div>
                                            <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#horizontalTab').easyResponsiveTabs({
                                                        type: 'default', //Types: default, vertical, accordion           
                                                        width: 'auto', //auto or any width like 600px
                                                        fit: true   // 100% fit in a container
                                                    });
                                                });
                                            </script>
                                            <div id="OR" class="hidden-xs">
                                                OR</div>
                                        </div>
                                        <div class="col-md-4 modal_body_right modal_body_right1">
                                            <div class="row text-center sign-with">
                                                <div class="col-md-12">
                                                    <h3 class="other-nw">
                                                        Sign in with</h3>
                                                </div>
                                                <div class="col-md-12">
                                                    <ul class="social">
                                                        <li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
                                                        <li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
                                                        <li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
                                                        <li class="social_behance"><a href="#" class="entypo-behance"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                <!-- //header -->
                <!-- banner -->
                     
                <!-- //banner -->
                
                <!-- breadcrumbs -->
                    
                <!-- //breadcrumbs -->
                
                <!-- checkout -->
                    <div class="checkout">
                        <div class="container">
                            <h3>Your shopping cart contains: <span>3 Products</span></h3>
                
                            <div class="checkout-right">
                                <table class="timetable_sub">
                                    <thead>
                                        <tr>
                                            <th>SL No.</th>	
                                            <th>Product</th>
                                            <th>Quality</th>
                                            <th>Product Name</th>
                                            <th>Service Charges</th>
                                            <th>Price</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tr class="rem1">
                                        <td class="invert">1</td>
                                        <td class="invert-image"><img src="../static/images/j3.jpg" alt=" " class="img-responsive" /></td>
                                        <td class="invert">
                                             <div class="quantity"> 
                                                <div class="quantity-select">                           
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value"><span>1</span></div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">Beige solid Chinos</td>
                                        <td class="invert">$5.00</td>
                                        <td class="invert">$200.00</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close1"> </div>
                                            </div>
                                            <script>$(document).ready(function(c) {
                                                $('.close1').on('click', function(c){
                                                    $('.rem1').fadeOut('slow', function(c){
                                                        $('.rem1').remove();
                                                    });
                                                    });	  
                                                });
                                           </script>
                                        </td>
                                    </tr>
                                    <tr class="rem2">
                                        <td class="invert">2</td>
                                        <td class="invert-image"><img src="../static/images/ss5.jpg" alt=" " class="img-responsive" /></td>
                                        <td class="invert">
                                             <div class="quantity"> 
                                                <div class="quantity-select">                           
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value"><span>1</span></div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">Floral Border Skirt</td>
                                        <td class="invert">$5.00</td>
                                        <td class="invert">$270.00</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close2"> </div>
                                            </div>
                                            <script>$(document).ready(function(c) {
                                                $('.close2').on('click', function(c){
                                                    $('.rem2').fadeOut('slow', function(c){
                                                        $('.rem2').remove();
                                                    });
                                                    });	  
                                                });
                                           </script>
                                        </td>
                                    </tr>
                                    <tr class="rem3">
                                        <td class="invert">3</td>
                                        <td class="invert-image"><img src="../static/images/c7.jpg" alt=" " class="img-responsive" /></td>
                                        <td class="invert">
                                             <div class="quantity"> 
                                                <div class="quantity-select">                           
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value"><span>1</span></div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">Beige Sandals</td>
                                        <td class="invert">$5.00</td>
                                        <td class="invert">$212.00</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close3"> </div>
                                            </div>
                                            <script>$(document).ready(function(c) {
                                                $('.close3').on('click', function(c){
                                                    $('.rem3').fadeOut('slow', function(c){
                                                        $('.rem3').remove();
                                                    });
                                                    });	  
                                                });
                                           </script>
                                        </td>
                                    </tr>
                                                <!--quantity-->
                                                    <script>
                                                    $('.value-plus').on('click', function(){
                                                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
                                                        divUpd.text(newVal);
                                                    });
                
                                                    $('.value-minus').on('click', function(){
                                                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
                                                        if(newVal>=1) divUpd.text(newVal);
                                                    });
                                                    </script>
                                                <!--quantity-->
                                </table>
                            </div>
                            <div class="checkout-left">	
                                <div class="checkout-left-basket">
                                    <h4>Continue to basket</h4>
                                    <ul>
                                        <li>Product1 <i>-</i> <span>$200.00 </span></li>
                                        <li>Product2 <i>-</i> <span>$270.00 </span></li>
                                        <li>Product3 <i>-</i> <span>$212.00 </span></li>
                                        <li>Total Service Charges <i>-</i> <span>$15.00</span></li>
                                        <li>Total <i>-</i> <span>$697.00</span></li>
                                    </ul>
                                </div>
                                <div class="checkout-right-basket">
                                    <a href="index.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    
                    
                <!-- //checkout -->
                </body>
			 
			 
			 
			 
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
</body>

</html>